@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
	--font-family: "Roboto", sans-serif;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: #e0ddd4;
	--primary-color: #285430;
	--secondary-color: #1ba026;
	--tertiary-color: #ffffff;
	--primary-shadow: #335332;
	--secondary-shadow: #686868;
	/*VER*/
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	color: var(--secondary-color);
}

body {
	font-family: var(--font-family);
	background-image: url(https://img.freepik.com/fotos-premium/fondo-verano-gris-hojas-verdes_373887-544.jpg?w=2000);
	background-size: cover;
	backdrop-filter: brightness(70%);
	;
}

/*Página de inicio*/

.row {
	display: flex;
	align-items: center;
	justify-content: center
}

.welcome {
	font-size: xx-large;
	width: 100%;
	text-align: justify;
	padding: 0;
	margin: 1% 5%;
	color: var(--tertiary-color);

}

/*Portada*/

.portada {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portada img {
	width: 1200px;
	height: 380px;
}

/*Barra de navegación*/

nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 3.5rem;
	background-color: var(--bg-color);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.main-logo {
	display: flex;
	align-items: center;
	justify-content: left;
}

nav strong {
	color: var(--primary-color);
}

.main-logo a img {
	height: 10%;
	width: 70%;
	justify-content: center;
	align-items: center;
}

nav a {
	color: var(--primary-color);
	transition: var(--transition);
	width: 15%;
}

nav a:hover {
	color: var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
}

nav ul {
	display: flex;
	gap: 1.9rem;
}


.button-menu {
	display: none;
}

.main-logo {
	flex-basis: 30%;
}

.main-nav {
	position: static;
	margin-left: 0;
	flex-basis: 70%;
	height: 100%;
}

.nav-links {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;

}

.link-item {
	display: inline-block;
	margin-top: 0;
	margin-right: 2rem;
}



/*Vivero*/

.fila {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-top: 3%;
}

.fila img:hover {
	cursor: pointer;
	opacity: 5;
	filter: contrast(120%);
	width: 60%;
}

.segmento {
	width: 30%;
}

.plantas {
	width: 50%;
	height: 50%;
	margin: 2% 0 0 25%;
	border-radius: 10%;
	justify-content: center;
	box-shadow: 0.15vw 0.15vw 0.15vw 0.15vw var(--primary-shadow);
	;
}

.nombre {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 80%;
	color: var(--tertiary-color);
	font-weight: 600;
	font-size: xx-large;
	margin-top: 5%;
}

.descripcion {
	display: flex;
	height: 100%;
	width: 90%;
	margin: 5% auto 10% auto;
	text-align: justify;
	justify-content: center;
	font-size: large;
	color: var(--tertiary-color);
}

/*Cuidados*/

h1 {
	text-align: center;
	font-size: 3rem;
	color: var(--tertiary-color);
	margin-top: 5%;
	text-shadow: var(--primary-shadow) 0 -0.07em;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5%;
}

.container p {
	width: 50%;
	margin: 5%;
	font-size: xx-large;
	font-family: cursive;
	color: var(--tertiary-color);
}

/*Contacto*/

.formula {
	max-width: 30%;
	background: -webkit-linear-gradient(to right,
			#c4ead8,
			#0c7142);
	background: var(--bg-color);
	margin: 5% auto;
	padding: 40px;
	border: 35px solid #ccc;
	border-color: var(--primary-color);
	border-radius: 10px;
	border-style: ridge;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	max-width: 90%;
	padding: 10px 0px 5px 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 100%;
	height: 25px;
}

.estilomsg {
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	max-width: 90%;
	padding: 10px 0px 0px 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

.formula i {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	outline: none;
}

.formula input::placeholder {
	padding: 0px 0px 0px 0px;
	position: relative;
	top: -3px;
}

.input-field {
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

textarea {
	height: 200px;
	width: 100%;
	max-width: 94%;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #2b5e0d;
	max-width: 90%;
	color: white;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}
/*API*/	



	  

@media only screen and (max-width: 640px) {

	/*Portada*/

	.welcome {
		font-size: large;
	}
	.portada img {
		width: 600px;
		height: 190px;
	}

	/*Vivero*/
	.fila {
		display: flex;
		margin: 0% auto 0% auto;
		flex-direction: column;
		align-items: center;
		width: 90%;
	}

	.fila img:hover {
		width: 75%;
	}

	.segmento {
		width: 90%;
	}

	.plantas {
		width: 70%;
		height: 40%;
		margin: 2% 0 0 15%;
		box-shadow: 0.50vw 0.50vw 0.50vw 0.50vw var(--primary-shadow);

	}

	.nombre {
		font-size: large;
		margin: 10% auto 10% auto;
	}

	.descripcion {
		display: flex;
		font-size: medium;
		color: var(--tertiary-color);
	}

	.formula {

		max-width: 100%;
	}

	/*Cuidado*/

	iframe {
		width: 107%;
		margin: 0% 5% 0% 5%;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 5%;
	}

	.container p {
		width: 90%;
		margin: 5%;
		font-size: x-large;
		font-family: cursive;
		color: var(--tertiary-color);
	}


	/*Menu hamburguesa*/
	.main-nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 75%;
		margin-left: -100%;
		transition: all 0.2s linear;
		background-color: var(--bg-color);
		z-index: 100;

	}

	.main-nav.show {
		margin-left: 0;
		opacity: 85%;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 60%;
		align-items: center;
		justify-content: center;

	}

	.link-item {
		margin-top: 2rem;
		color: var(--secondary-color);
		text-decoration: none;
		font-weight: bold;
		position: relative;
	}

	.link-item::after {
		position: absolute;
		content: "";
		background-color: black;
		bottom: -5px;
		left: 0;
		width: 0%;
		height: 3px;
		transition: 0.3s ease all;
	}

	.link-item:hover::after {
		width: 100%;
	}

	.button-menu {
		z-index: 200;
		width: 40px;
		height: 40px;
		border: none;
		display: flex;
		background: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.button-menu span {
		width: 37px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #444444;
		border-radius: 3px;
		transform-origin: 4px 0px;
		transition: all 0.2s linear;
	}

	.button-menu.close span {
		opacity: 1;
		transform: rotate(45deg) translate(0px, 0px);
		background: #ffffff;
	}

	.button-menu.close span:nth-child(2) {
		transform: rotate(-45deg) translate(-8px, 5px);
	}

	.button-menu.close span:nth-child(3) {
		display: none;
	}

	strong {
		display: none;
	}

	.main-logo a img {
		width: 500%;
	}

}

@media only screen and (min-width: 640px) and (max-width: 1280px) {
	.fila {
		display: flex;
		margin: 2% auto 0% auto;
		width: 90%;
	}

	.fila img:hover {
		width: 80%;
	}

	.segmento {
		width: 90%;
	}

	.plantas {
		width: 70%;
		height: 40%;
		margin: 2% 0 0 15%;
		box-shadow: 0.30vw 0.30vw 0.30vw 0.30vw #285430c9;

	}

	.nombre {
		font-size: large;
		margin: 10% auto 10% auto;
	}

	.descripcion {
		display: flex;
		font-size: medium;
		color: black;
	}
}

@media only screen and (min-width: 1280px) {
	.fila {
		display: flex;
		margin: 3% auto 0% auto;
		width: 90%;
	}

	.fila img:hover {
		width: 80%;
	}

	.plantas {
		width: 70%;
		height: 40%;
		margin: 2% 0 0 13%;
	}
}


/*estilos del pie de pagina*/

footer {
	position: static;
	background: var(--bg-color);
	bottom: 0px;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-weight: bold;
	color: var(--primary-color);
}